<section class="navigation exit">
	<button class="navigation-button">&#9776;</button>
	<nav class="social-navigation">
		<ul>
			<li><a href="http://www.twitter.com/kreativeking">&#62217;</a></li>
			<li><a href="http://www.instagram.com/kreativemente">&#62253;</a></li>
			<li><a href="http://www.github.com/cg219">&#62208;</a></li>
			<li><a href="http://www.linkedin.com/in/clementegomez">&#62232;</a></li>
		</ul>
	</nav>
	<nav class="site-navigation">
		<ul>
			{{#foreach navigation}}
			<li class="nav-item nav-{{slug}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
			{{/foreach}}
		</ul>
	</nav>
</section>