<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}"><span>&#59229;</span> Newer</a>
    {{/if}}
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Older <span>&#59230;</span></a>
    {{/if}}
</nav>